.place__title {
	margin: 0 0 0 22px;
	max-width: 216px;
	color: #000;
	font-size: 24px;
	font-style: normal;
	font-weight: 900;
	line-height: 29px;
	letter-spacing: 0em;
	text-align: left;
	align-self: center;
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
}
