.profile__info {
	display: grid;
	grid-template-columns: 294px 24px;
	row-gap: 16px;
	column-gap: 18px;
	grid-template-areas:
		"name edit-button"
		"job job";
	max-width: 336px;
	margin-left: 36px;
}

@media screen and (max-width: 1023px) {
	.profile__info {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-self: center;
		row-gap: 0;
		width: 282px;
		position: relative;
		margin: 26px 0 0 0;
	}
}
