.popup__close-button {
	padding: 0;
	width: 40px;
	height: 40px;
	position: absolute;
	top: -40px;
	right: -40px;
	background: center / contain no-repeat url(../../../images/button-5.svg);
	border: none;
	transform: rotate(45deg);
	outline: none;
	cursor: pointer;
}

.popup__close-button:hover {
	opacity: 0.6;
	transition: opacity 0.3s ease;
}

@media screen and (max-width: 1023px) {
	.popup__close-button {
		width: 26px;
		height: 26px;
	}
}
