.popup__info {
	padding: 0;
	border: none;
	width: 358px;
	margin: 0 36px 0 36px;
}

@media screen and (max-width: 1023px) {
	.popup__info {
		width: 282px;
		margin: 0 22px 0 22px;
	}
}

@media screen and (max-width: 550px) {
	.popup__info {
		width: calc(100% - 44px);
	}
}
