@import url(./vendor/normalize.css);
@import url(./vendor/fonts.css);
@import url(./blocks/page/page.css);
@import url(./blocks/header/header.css);
@import url(./blocks/header/__logo/header__logo.css);
@import url(./blocks/page/__header/page__header.css);
@import url(./blocks/content/content.css);
@import url(./blocks/content/__profile/content__profile.css);
@import url(./blocks/profile/profile.css);
@import url(./blocks/profile/__container/profile__container.css);
@import url(./blocks/profile/__avatar/profile__avatar.css);
@import url(./blocks/profile/__info/profile__info.css);
@import url(./blocks/profile/__title/profile__title.css);
@import url(./blocks/profile/__subtitle/profile__subtitle.css);
@import url(./blocks/profile/__add-button/profile__add-button.css);
@import url(./blocks/profile/__edit-button/profile__edit-button.css);
@import url(./blocks/places/places.css);
@import url(./blocks/content/__places/content__places.css);
@import url(./blocks/places/__list/places__list.css);
@import url(./blocks/place/place.css);
@import url(./blocks/place/__image/place__image.css);
@import url(./blocks/place/__description/place__description.css);
@import url(./blocks/place/__title/place__title.css);
@import url(./blocks/place/__like-button/place__like-button.css);
@import url(./blocks/place/__like-button/_active/place__like-button_active.css);
@import url(./blocks/footer/footer.css);
@import url(./blocks/footer/__copy/footer__copy.css);
@import url(./blocks/page/__footer/page__footer.css);
@import url(./blocks/popup/popup.css);
@import url(./blocks/popup/_opened/popup_opened.css);
@import url(./blocks/popup/__close-button/popup__close-button.css);
@import url(./blocks/popup/__heading/popup__heading.css);
@import url(./blocks/popup/__heading/_edit/popup__heading_edit.css);
@import url(./blocks/popup/__heading/_add/popup__heading_add.css);
@import url(./blocks/popup/__container/popup__container.css);
@import url(./blocks/popup/__error/popup__error.css);
@import url(./blocks/popup/__info/popup__info.css);
@import url(./blocks/input-text/input-text.css);
@import url(./blocks/input-text/_state/_invalid/input-text_state_invalid.css);
@import url(./blocks/popup/__save-button/popup__save-button.css);
@import url(./blocks/popup/__save-button/_disabled/popup__save-button_disabled.css);
@import url(./blocks/popup/__container/_add/popup__container_add.css);
@import url(./blocks/popup/__figure/popup__figure.css);
@import url(./blocks/popup/__image/popup__image.css);
@import url(./blocks/popup/__description/popup__description.css);
@import url(./blocks/popup/__close-button/_position/_diagonally/popup__close-button_position_diagonally.css);
@import url(./blocks/popup/__close-button/_position/_top/popup__close-button_position_top.css);
@import url(./blocks/figure-popup/figure-popup.css);
@import url(./blocks/place/__delete-button/place__delete-button.css);
@import url(./blocks/place/__delete-button/_visible/place__delete-button_visible.css);
@import url(./blocks/place/__delete-button/_hidden/place__delete-button_hidden.css);
@import url(./blocks/place/__like/place__like.css);
@import url(./blocks/place/__like-counter/place__like-counter.css);
@import url(./blocks/popup/__container/_confirm/popup__container_confirm.css);
@import url(./blocks/popup/__heading/_confirm/popup__heading_confirm.css);
@import url(./blocks/popup/__save-button/_confirm/popup__save-button_confirm.css);
@import url(./blocks/popup/__heading/_update/popup__heading_update.css);
@import url(./blocks/popup/__save-button/_update/popup__save-button_update.css);
@import url(./blocks/profile/__avatar-area/profile__avatar-area.css);